<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my-5">Sobre nosotros</h1>
    <p class="text-zinc-300">Nuestra empresa es un referente en el ámbito agrícola. Nos especializamos en la gestión de campos, el control de plagas y la adopción de tecnologías avanzadas para impulsar la sostenibilidad y la prosperidad en la agricultura.</p>
</section>