<header class="bg-zinc-900 p-4 md:p-10 lg:p-20 flex flex-col md:flex-row gap-4 md:gap-3 items-center">
    <div class="text-white text-center md:text-left">
        <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">Protege tu esfuerzo, Asegura tu futuro</h1>
        <p class="text-l md:text-xl text-justify mt-4">Utiliza tecnología avanzada para implementar soluciones innovadoras y proteger tus cultivos de insectos, asegurando así la salud y la productividad de tus campos con eficiencia y compromiso.</p>
        <button class="bg-indigo-500 text-white font-semibold px-4 py-2 mt-6 hover:bg-indigo-400 transition duration-300 ease-in-out">
            Conoce más
        </button>
    </div>
    <img class="w-68 md:w-64 lg:w-80 mx-auto" src="images/pizarra.svg" alt="hero">
</header>
