<header>
    <h1>Proteje tu esfuerzo</h1>
    <p>Utiliza tecnología avanzada para proteger tus cultivos de insectos.</p>
    <button>Conoce más</button>
    <img src="images/pizarra.svg" alt="hero">
</header>