<section class="flex flex-col md:flex-row py-10 md:py-20">
    <div class="flex-1 grid grid-cols-2">
        <div class="text-center">
            <img class="w-20 m-auto" src="favicon.svg" alt="Servicio 1">
            <p class="mt-4">Servicio de Campo</p>
        </div>
        <div class="text-center flex-col">
            <img class="w-20 m-auto" src="favicon.svg" alt="Servicio 2">
            <p class="mt-4">Control de Plagas</p>
        </div>
        <div class="text-center flex-col">
            <img class="w-20 m-auto" src="favicon.svg" alt="Servicio 3">
            <p class="mt-4">Tecnología Agrícola</p>
        </div>
        <div class="text-center flex-col">
            <img class="w-20 m-auto" src="favicon.svg" alt="Servicio 4">
            <p class="mt-4">Asesoramiento Especializado</p>
        </div>
    </div>
    <div class="flex flex-1 flex-col gap-y-10 md:py-0 py-10">
        <h2 class="text-5xl md:text-left text-center font-bold">Impulsando la Agricultura Sostenible</h2>
        <p class="text-3xl md:text-left text-center text-zinc-300">Nos dedicamos a brindar servicios integrales que optimizan la gestión de campos, controlan plagas, implementan tecnología avanzada y ofrecen asesoramiento especializado para promover una agricultura sostenible y productiva.</p>
    </div>
</section>
